<a href="https://colab.research.google.com/github/chsuknapat/lr-crops/blob/main/AIBuilder_Project_F1_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install prophet
!pip install plotly==4.14.3
!pip install -U scikit-learn
!pip install pmdarima
!pip install statsmodels

In [30]:
import pandas as pd
import numpy as np
from prophet import Prophet
from prophet.plot import plot_plotly, plot_components_plotly
from sklearn.linear_model import LinearRegression
from sklearn.cluster import KMeans
from sklearn import metrics

# Rain Prediction

In [ ]:
df = pd.read_csv('Rain_2020_2015_clean.csv',thousands=',')
df=df.drop(columns=['CODE', 'ZONE'])
df['RAIN'] =pd.to_numeric(df['RAIN'])
df['DATE'] =pd.to_datetime(df['DATE'], format = '%Y/%m/%d')
province_out = ['OtherN','OtherNE','OtherC','OtherS','OtherNNE','OtherNC','OtherNS','OtherNEC','OtherNES','OtherCS','OtherNNEC','OtherNNES','OtherNCS','OtherNECS','WholeKingdom']
df = df[~df['PROVINCE'].isin(province_out)] 
df=df.rename(columns={'DATE' : 'ds', 'RAIN': 'y'})

df_rain = pd.DataFrame()
grouped = df.groupby('PROVINCE')

for g in grouped.groups:
     group = grouped.get_group(g)
     m = Prophet()
     m.fit(group)
     future = m.make_future_dataframe(periods=24,freq='MS')
     forecast = m.predict(future)
     forecast_rain = forecast [['ds','yhat','yhat_lower','yhat_upper']]
     forecast_rain['PROVINCE'] = g
     df_rain = pd.concat([df_rain,forecast_rain],ignore_index=True)

In [7]:
df_rain=df_rain[['PROVINCE','ds','yhat','yhat_lower','yhat_upper']]
df_rain.to_csv('df_rain.csv', index=False)
df_rain

          PROVINCE         ds        yhat  yhat_lower  yhat_upper
0     AmnatChareon 2015-01-01   -8.452468  -96.691128   81.225284
1     AmnatChareon 2015-02-01  -11.143993  -95.025521   79.939086
2     AmnatChareon 2015-03-01    9.317927  -84.591898   98.033734
3     AmnatChareon 2015-04-01   40.047984  -48.314823  127.630758
4     AmnatChareon 2015-05-01  132.308874   42.349677  222.401476
...            ...        ...         ...         ...         ...
7291      Yasothon 2022-08-01  354.001609  254.450240  450.895050
7292      Yasothon 2022-09-01  170.932106   73.315919  269.206461
7293      Yasothon 2022-10-01   93.949718   -7.177807  194.783461
7294      Yasothon 2022-11-01   26.105843  -65.952463  127.359961
7295      Yasothon 2022-12-01   19.067293  -77.605921  118.319375

[7296 rows x 5 columns]

In [ ]:
plot_plotly(m, forecast)

In [ ]:
plot_components_plotly(m, forecast)

# Temp Prediction

In [ ]:
df = pd.read_csv('Temp_2020_2015_clean.csv',thousands=',')
df= df.drop(columns=['CODE','ZONE '])
df['TEMP'] =pd.to_numeric(df['TEMP'])
df['DATE'] =pd.to_datetime(df['DATE'], format = '%Y/%m/%d')
province_out = ['Bueng Kan']
df = df[~df['PROVINCE'].isin(province_out)]
df=df.rename(columns={'DATE' : 'ds', 'TEMP': 'y'})

df_temp = pd.DataFrame()
grouped = df.groupby('PROVINCE')

for g in grouped.groups:
     group = grouped.get_group(g)
     m = Prophet()
     m.fit(group)
     future = m.make_future_dataframe(periods=24,freq='MS')
     forecast = m.predict(future)
     forecast_temp = forecast [['ds','yhat','yhat_lower','yhat_upper']]
     forecast_temp['PROVINCE'] = g
     df_temp = pd.concat([df_temp,forecast_temp],ignore_index=True)
     #print(df_temp)

In [12]:
df_temp=df_temp[['PROVINCE','ds','yhat','yhat_lower','yhat_upper']]
df_temp.to_csv('df_temp.csv', index=False)
df_temp

          PROVINCE         ds       yhat  yhat_lower  yhat_upper
0     AmnatChareon 2015-01-01  25.532592   24.234456   26.930437
1     AmnatChareon 2015-02-01  26.123221   24.843292   27.515373
2     AmnatChareon 2015-03-01  29.499186   28.153893   30.849063
3     AmnatChareon 2015-04-01  29.951251   28.546904   31.270188
4     AmnatChareon 2015-05-01  29.911131   28.631581   31.221803
...            ...        ...        ...         ...         ...
7291      Yasothon 2022-08-01  27.814423   26.377241   29.266911
7292      Yasothon 2022-09-01  28.112954   26.733247   29.398491
7293      Yasothon 2022-10-01  27.336890   25.868784   28.755239
7294      Yasothon 2022-11-01  26.720270   25.384164   28.133680
7295      Yasothon 2022-12-01  25.293773   23.912393   26.600951

[7296 rows x 5 columns]

In [ ]:
plot_plotly(m, forecast)

In [ ]:
plot_components_plotly(m, forecast)

# All Rain Temp

In [15]:
df_rain = pd.read_csv('/content/df_rain.csv')
df_rain['YEAR'] = df_rain['ds'].apply(lambda x:x[:4])
df_rain['MONTH'] = df_rain['ds'].apply(lambda x:x[5:7])
df_rain = pd.DataFrame(df_rain.pivot_table(index=['PROVINCE','YEAR'], columns = 'MONTH' , values = 'yhat' )).reset_index()

df_temp = pd.read_csv('/content/df_temp.csv')
df_temp['YEAR'] = df_temp['ds'].apply(lambda x:x[:4])
df_temp['MONTH'] =df_temp['ds'].apply(lambda x:x[5:7])
df_temp = pd.DataFrame(df_temp.pivot_table(index=['PROVINCE','YEAR'], columns = 'MONTH' , values = 'yhat' )).reset_index()

left =  df_rain.set_index(['PROVINCE' , 'YEAR' ])
right = df_temp.set_index(['PROVINCE' , 'YEAR' ])
df_rt = left.join(right, lsuffix='_rain' , rsuffix='_temp').reset_index()
df_rt['YEAR'] = pd.to_datetime(df_rt['YEAR'], format= '%Y').dt.to_period('Y')
df_rt

MONTH      PROVINCE  YEAR    01_rain  ...    10_temp    11_temp    12_temp
0      AmnatChareon  2015  -8.452468  ...  27.765355  26.917975  25.586040
1      AmnatChareon  2016  -0.149627  ...  27.151423  26.727753  24.651856
2      AmnatChareon  2017  -5.166075  ...  27.341102  26.780784  24.961059
3      AmnatChareon  2018   2.712362  ...  27.542469  26.841573  25.270414
4      AmnatChareon  2019  10.805284  ...  27.752066  26.905462  25.574279
..              ...   ...        ...  ...        ...        ...        ...
603        Yasothon  2018   9.230865  ...  27.336825  26.720206  25.293709
604        Yasothon  2019  19.772295  ...  27.458222  26.738853  25.612884
605        Yasothon  2020  30.371292  ...  27.107375  26.691916  24.644792
606        Yasothon  2021  15.169560  ...  27.219883  26.704558  24.970936
607        Yasothon  2022  25.646403  ...  27.336890  26.720270  25.293773

[608 rows x 26 columns]

# Rice

In [16]:
df_rice = pd.read_csv('/content/Rice_2019_2010_clean.csv',thousands=',')
df_rice= df_rice.drop(columns=['CODE','ZONE','AREA-R','YIELD-T'])
df_rice= df_rice[df_rice['PROVINCE'] != 'Bueng Kan' ]
df_rice['YIELD-KG/R'] = pd.to_numeric(df_rice['YIELD-KG/R'])
df_rice['YEAR'] =  pd.to_datetime(df_rice['YEAR'], format= '%Y').dt.to_period('Y')
df_rice['CROP'] = 'Rice'

left =  df_rice.set_index(['PROVINCE' , 'YEAR' ])
right = df_rt.set_index(['PROVINCE' , 'YEAR' ])
df_rice = left.join(right, lsuffix=' ' , rsuffix=' ').dropna().reset_index()
df_rice['PROVINCE_CROP'] = df_rice['PROVINCE']+'_rice'
df_rice.sort_values(['PROVINCE','YEAR'])

df_riceclust = df_rice.groupby(['PROVINCE_CROP']).mean().reset_index()
x =df_riceclust.drop(columns=['PROVINCE_CROP','YIELD-KG/R']) 
seed = 42
model = KMeans(n_clusters=4,random_state = seed)
kmeans = model.fit_predict(x)

df_riceclust['CLUSTER'] = kmeans
df_riceclust['CLUSTER'] =df_riceclust['CLUSTER'].astype(str)+'_rice'
df_riceclust =df_riceclust[['PROVINCE_CROP','CLUSTER']]

left = df_rice.set_index(['PROVINCE_CROP'])
right = df_riceclust.set_index(['PROVINCE_CROP'])
df_rice = left.join(right, lsuffix=' ', rsuffix=' ').reset_index()
df_rice

         PROVINCE_CROP      PROVINCE  YEAR  ...    11_temp    12_temp  CLUSTER
0    AmnatChareon_rice  AmnatChareon  2015  ...  26.917975  25.586040   0_rice
1    AmnatChareon_rice  AmnatChareon  2016  ...  26.727753  24.651856   0_rice
2    AmnatChareon_rice  AmnatChareon  2017  ...  26.780784  24.961059   0_rice
3    AmnatChareon_rice  AmnatChareon  2018  ...  26.841573  25.270414   0_rice
4    AmnatChareon_rice  AmnatChareon  2019  ...  26.905462  25.574279   0_rice
..                 ...           ...   ...  ...        ...        ...      ...
355      Yasothon_rice      Yasothon  2015  ...  26.749565  25.623125   0_rice
356      Yasothon_rice      Yasothon  2016  ...  26.696878  24.649283   0_rice
357      Yasothon_rice      Yasothon  2017  ...  26.705002  24.971253   0_rice
358      Yasothon_rice      Yasothon  2018  ...  26.720206  25.293709   0_rice
359      Yasothon_rice      Yasothon  2019  ...  26.738853  25.612884   0_rice

[360 rows x 30 columns]

# Pineapple

In [19]:
df_pine = pd.read_csv('/content/Pineapple_2019_2010_clean.csv',thousands=',')
df_pine= df_pine.drop(columns=['CODE','ZONE','AREA-R','YIELD-T'])
df_pine= df_pine[df_pine['PROVINCE'] != 'Bueng Kan' ]
df_pine['YIELD-KG/R'] = pd.to_numeric(df_pine['YIELD-KG/R'])
df_pine['YEAR'] =  pd.to_datetime(df_pine['YEAR'], format= '%Y').dt.to_period('Y')
df_pine['CROP'] = 'Pineapple'

left =  df_pine.set_index(['PROVINCE' , 'YEAR' ])
right = df_rt.set_index(['PROVINCE' , 'YEAR' ])
df_pine = left.join(right, lsuffix=' ' , rsuffix=' ').dropna().reset_index()
df_pine['PROVINCE_CROP'] = df_pine['PROVINCE']+'_pine'
df_pine.sort_values(['PROVINCE','YEAR'])

df_pineclust = df_pine.groupby(['PROVINCE_CROP']).mean().reset_index()
x = df_pineclust.drop(columns=['PROVINCE_CROP','YIELD-KG/R']) 
seed = 42
model = KMeans(n_clusters=4,random_state = seed)
kmeans = model.fit_predict(x)

df_pineclust['CLUSTER'] = kmeans
df_pineclust['CLUSTER'] = df_pineclust['CLUSTER'].astype(str)+'_pine'
df_pineclust = df_pineclust[['PROVINCE_CROP','CLUSTER']]

left = df_pine.set_index(['PROVINCE_CROP'])
right = df_pineclust.set_index(['PROVINCE_CROP'])
df_pine = left.join(right, lsuffix=' ', rsuffix=' ').reset_index()
df_pine

         PROVINCE_CROP      PROVINCE  YEAR  ...    11_temp    12_temp  CLUSTER
0    Chachoengsao_pine  Chachoengsao  2015  ...  27.131294  26.433513   0_pine
1    Chachoengsao_pine  Chachoengsao  2016  ...  27.496189  26.349920   0_pine
2    Chachoengsao_pine  Chachoengsao  2017  ...  26.694476  25.648032   0_pine
3    Chachoengsao_pine  Chachoengsao  2018  ...  26.457335  25.584841   0_pine
4    Chachoengsao_pine  Chachoengsao  2019  ...  26.493415  25.731861   0_pine
..                 ...           ...   ...  ...        ...        ...      ...
124     Uttaradit_pine     Uttaradit  2015  ...  27.814507  25.122331   0_pine
125     Uttaradit_pine     Uttaradit  2016  ...  27.355196  24.888137   0_pine
126     Uttaradit_pine     Uttaradit  2017  ...  27.465025  24.928227   0_pine
127     Uttaradit_pine     Uttaradit  2018  ...  27.706440  25.115940   0_pine
128     Uttaradit_pine     Uttaradit  2019  ...  28.073876  25.403404   0_pine

[129 rows x 30 columns]

# Cassava

In [20]:
df_cas = pd.read_csv('/content/Cassava_2020_2011_clean.csv',thousands=',')
df_cas= df_cas.drop(columns=['CODE','ZONE','AREA-R','YIELD-T'])
df_cas= df_cas[df_cas['PROVINCE'] != 'Bueng Kan' ]
df_cas['YIELD-KG/R'] = pd.to_numeric(df_cas['YIELD-KG/R'])
df_cas['YEAR'] =  pd.to_datetime(df_cas['YEAR'], format= '%Y').dt.to_period('Y')
df_cas['CROP'] = 'Cassava'

left =  df_cas.set_index(['PROVINCE' , 'YEAR' ])
right = df_rt.set_index(['PROVINCE' , 'YEAR' ])
df_cas = left.join(right, lsuffix=' ' , rsuffix=' ').dropna().reset_index()
df_cas['PROVINCE_CROP'] = df_cas['PROVINCE']+'_cass'
df_cas.sort_values(['PROVINCE','YEAR'])

df_casclust = df_cas.groupby(['PROVINCE_CROP']).mean().reset_index()
x =df_casclust.drop(columns=['PROVINCE_CROP','YIELD-KG/R']) 
seed = 42
model = KMeans(n_clusters=4,random_state = seed)
kmeans = model.fit_predict(x)

df_casclust['CLUSTER'] = kmeans
df_casclust['CLUSTER'] =df_casclust['CLUSTER'].astype(str)+'_cass'
df_casclust =df_casclust[['PROVINCE_CROP','CLUSTER']]

left = df_cas.set_index(['PROVINCE_CROP'])
right = df_casclust.set_index(['PROVINCE_CROP'])
df_cas = left.join(right, lsuffix=' ', rsuffix=' ').reset_index()
df_cas

         PROVINCE_CROP      PROVINCE  YEAR  ...    11_temp    12_temp  CLUSTER
0    AmnatChareon_cass  AmnatChareon  2015  ...  26.917975  25.586040   3_cass
1    AmnatChareon_cass  AmnatChareon  2016  ...  26.727753  24.651856   3_cass
2    AmnatChareon_cass  AmnatChareon  2017  ...  26.780784  24.961059   3_cass
3    AmnatChareon_cass  AmnatChareon  2018  ...  26.841573  25.270414   3_cass
4    AmnatChareon_cass  AmnatChareon  2019  ...  26.905462  25.574279   3_cass
..                 ...           ...   ...  ...        ...        ...      ...
273      Yasothon_cass      Yasothon  2016  ...  26.696878  24.649283   0_cass
274      Yasothon_cass      Yasothon  2017  ...  26.705002  24.971253   0_cass
275      Yasothon_cass      Yasothon  2018  ...  26.720206  25.293709   0_cass
276      Yasothon_cass      Yasothon  2019  ...  26.738853  25.612884   0_cass
277      Yasothon_cass      Yasothon  2020  ...  26.691916  24.644792   0_cass

[278 rows x 30 columns]

# Maize

In [21]:
df_maize = pd.read_csv('/content/Maize_2019_2010_clean.csv',thousands=',')
df_maize= df_maize.drop(columns=['CODE','ZONE','AREA-R','YIELD-T'])
df_maize= df_maize[df_maize['PROVINCE'] != 'Bueng Kan' ]
df_maize['YIELD-KG/R'] = pd.to_numeric(df_maize['YIELD-KG/R'])
df_maize['YEAR'] =  pd.to_datetime(df_maize['YEAR'], format= '%Y').dt.to_period('Y')
df_maize['CROP'] = 'Maize'

left =  df_maize.set_index(['PROVINCE' , 'YEAR' ])
right = df_rt.set_index(['PROVINCE' , 'YEAR' ])
df_maize = left.join(right, lsuffix=' ' , rsuffix=' ').dropna().reset_index()
df_maize['PROVINCE_CROP'] = df_maize['PROVINCE']+'_maze'
df_maize.sort_values(['PROVINCE','YEAR'])

df_maizeclust = df_maize.groupby(['PROVINCE_CROP']).mean().reset_index()
x =df_maizeclust.drop(columns=['PROVINCE_CROP','YIELD-KG/R']) 
seed = 42
model = KMeans(n_clusters=4,random_state = seed)
kmeans = model.fit_predict(x)

df_maizeclust['CLUSTER'] = kmeans
df_maizeclust['CLUSTER'] =df_maizeclust['CLUSTER'].astype(str)+'_maze'
df_maizeclust =df_maizeclust[['PROVINCE_CROP','CLUSTER']]

left = df_maize.set_index(['PROVINCE_CROP'])
right =df_maizeclust.set_index(['PROVINCE_CROP'])
df_maize = left.join(right, lsuffix=' ', rsuffix=' ').reset_index()
df_maize

         PROVINCE_CROP      PROVINCE  YEAR  ...    11_temp    12_temp  CLUSTER
0    AmnatChareon_maze  AmnatChareon  2018  ...  26.841573  25.270414   2_maze
1    AmnatChareon_maze  AmnatChareon  2019  ...  26.905462  25.574279   2_maze
2         BuriRum_maze       BuriRum  2018  ...  25.599577  24.837195   0_maze
3         BuriRum_maze       BuriRum  2019  ...  25.492421  25.228769   0_maze
4    Chachoengsao_maze  Chachoengsao  2015  ...  27.131294  26.433513   0_maze
..                 ...           ...   ...  ...        ...        ...      ...
188     Uttaradit_maze     Uttaradit  2017  ...  27.465025  24.928227   0_maze
189     Uttaradit_maze     Uttaradit  2018  ...  27.706440  25.115940   0_maze
190     Uttaradit_maze     Uttaradit  2019  ...  28.073876  25.403404   0_maze
191      Yasothon_maze      Yasothon  2018  ...  26.720206  25.293709   2_maze
192      Yasothon_maze      Yasothon  2019  ...  26.738853  25.612884   2_maze

[193 rows x 30 columns]

# All Crop

In [26]:
df_all = pd.concat([df_rice,df_pine,df_cas,df_maize], axis=0).reset_index(drop=True)#???
df_all.to_csv('df_all.csv' , index=False)
df_all

         PROVINCE_CROP      PROVINCE  YEAR  ...    11_temp    12_temp  CLUSTER
0    AmnatChareon_rice  AmnatChareon  2015  ...  26.917975  25.586040   0_rice
1    AmnatChareon_rice  AmnatChareon  2016  ...  26.727753  24.651856   0_rice
2    AmnatChareon_rice  AmnatChareon  2017  ...  26.780784  24.961059   0_rice
3    AmnatChareon_rice  AmnatChareon  2018  ...  26.841573  25.270414   0_rice
4    AmnatChareon_rice  AmnatChareon  2019  ...  26.905462  25.574279   0_rice
..                 ...           ...   ...  ...        ...        ...      ...
955     Uttaradit_maze     Uttaradit  2017  ...  27.465025  24.928227   0_maze
956     Uttaradit_maze     Uttaradit  2018  ...  27.706440  25.115940   0_maze
957     Uttaradit_maze     Uttaradit  2019  ...  28.073876  25.403404   0_maze
958      Yasothon_maze      Yasothon  2018  ...  26.720206  25.293709   2_maze
959      Yasothon_maze      Yasothon  2019  ...  26.738853  25.612884   2_maze

[960 rows x 30 columns]

# Regression By Cluster

In [ ]:
final_data =  pd.read_csv('/content/df_all.csv',thousands=',')
final_data_train = final_data[final_data['YEAR'] < 2018]
final_dic_cluster = {}
for i in final_data_train['CLUSTER'].unique():
    group = final_data_train[(final_data_train['CLUSTER'] == i )]
    x_train = group.drop(columns=['PROVINCE','YEAR','YIELD-KG/R','CROP', 'PROVINCE_CROP','CLUSTER'])
    y_train = group[['YIELD-KG/R']]
    coef_dic = {}
    model = LinearRegression()
    model.fit(x_train,y_train)
    coef = model.coef_
    intercept = model.intercept_
    coef_dic['01_rain'] = coef[0,0]
    coef_dic['02_rain'] = coef[0,1]
    coef_dic['03_rain'] = coef[0,2]
    coef_dic['04_rain'] = coef[0,3]
    coef_dic['05_rain'] = coef[0,4]
    coef_dic['06_rain'] = coef[0,5]
    coef_dic['07_rain'] = coef[0,6]
    coef_dic['08_rain'] = coef[0,7]
    coef_dic['09_rain'] = coef[0,8]
    coef_dic['10_rain'] = coef[0,9]
    coef_dic['11_rain'] = coef[0,10]
    coef_dic['12_rain'] = coef[0,11]
    coef_dic['01_temp'] = coef[0,12]
    coef_dic['02_temp'] = coef[0,13]
    coef_dic['03_temp'] = coef[0,14]
    coef_dic['04_temp'] = coef[0,15]
    coef_dic['05_temp'] = coef[0,16]
    coef_dic['06_temp'] = coef[0,17]
    coef_dic['07_temp'] = coef[0,18]
    coef_dic['08_temp'] = coef[0,19]
    coef_dic['09_temp'] = coef[0,20]
    coef_dic['10_temp'] = coef[0,21]
    coef_dic['11_temp'] = coef[0,22]
    coef_dic['12_temp'] = coef[0,23]
    coef_dic['intercept'] = intercept[0]
    final_dic_cluster[i] = coef_dic
print(final_dic_cluster)

In [31]:

final_data_test = final_data[final_data['YEAR'] > 2017]
final_data_test = final_data_test[final_data_test['CROP'] == 'Rice'].reset_index(drop = True)
y_test = np.array(final_data_test['YIELD-KG/R'])
y_predict = []
for i in range(len(final_data_test)):
    row = final_data_test.iloc[[i]]
    cluster = row['CLUSTER'].values[0]
    x_test = row.drop(['PROVINCE','YEAR','YIELD-KG/R','CROP','PROVINCE_CROP','CLUSTER'], axis=1)
    x_test = np.array(x_test)
    crop_coef = list(final_dic_cluster[cluster].values())
    crop_coef = crop_coef[:-1]
    crop_coef = np.array(crop_coef)
    crop_int = final_dic_cluster[cluster]['intercept']
    crop_yield = crop_int + np.sum(crop_coef*x_test)
    y_predict.append(crop_yield)
mape1 = metrics.mean_absolute_percentage_error(y_test,y_predict)*100
rmse1 = metrics.mean_squared_error(y_test,y_predict, squared=False)
print('LR by Cluster')
print('MAPE1:' ,mape1)
print('RMSE1:' ,rmse1)

LR by Cluster
MAPE1: 23.066261861159866
RMSE1: 156.1683075067733

# Regression By  PROVINCE

In [ ]:
final_data =  pd.read_csv('/content/df_all.csv',thousands=',')
final_data_train = final_data[final_data['YEAR'] < 2018]
final_dic_province = {}
for i in final_data_train['PROVINCE_CROP'].unique():
    group = final_data_train[(final_data_train['PROVINCE_CROP'] == i )]
    x_train = group.drop(columns=['PROVINCE','YEAR','YIELD-KG/R','CROP', 'PROVINCE_CROP','CLUSTER'])
    y_train = group[['YIELD-KG/R']]
    coef_dic = {}
    model = LinearRegression()
    model.fit(x_train,y_train)
    coef = model.coef_
    intercept = model.intercept_
    coef_dic['01_rain'] = coef[0,0]
    coef_dic['02_rain'] = coef[0,1]
    coef_dic['03_rain'] = coef[0,2]
    coef_dic['04_rain'] = coef[0,3]
    coef_dic['05_rain'] = coef[0,4]
    coef_dic['06_rain'] = coef[0,5]
    coef_dic['07_rain'] = coef[0,6]
    coef_dic['08_rain'] = coef[0,7]
    coef_dic['09_rain'] = coef[0,8]
    coef_dic['10_rain'] = coef[0,9]
    coef_dic['11_rain'] = coef[0,10]
    coef_dic['12_rain'] = coef[0,11]
    coef_dic['01_temp'] = coef[0,12]
    coef_dic['02_temp'] = coef[0,13]
    coef_dic['03_temp'] = coef[0,14]
    coef_dic['04_temp'] = coef[0,15]
    coef_dic['05_temp'] = coef[0,16]
    coef_dic['06_temp'] = coef[0,17]
    coef_dic['07_temp'] = coef[0,18]
    coef_dic['08_temp'] = coef[0,19]
    coef_dic['09_temp'] = coef[0,20]
    coef_dic['10_temp'] = coef[0,21]
    coef_dic['11_temp'] = coef[0,22]
    coef_dic['12_temp'] = coef[0,23]
    coef_dic['intercept'] = intercept[0]
    final_dic_province[i] = coef_dic
print(final_dic_province)

In [37]:

final_data_test = final_data[final_data['YEAR'] > 2017]
final_data_test = final_data_test[final_data_test['CROP'] == 'Rice'].reset_index(drop = True)
y_test = np.array(final_data_test['YIELD-KG/R'])
y_predict = []
for i in range(len(final_data_test)):
    row = final_data_test.iloc[[i]]
    province_crop = row['PROVINCE_CROP'].values[0]
    x_test = row.drop(['PROVINCE','YEAR','YIELD-KG/R','CROP','PROVINCE_CROP','CLUSTER'], axis=1)
    x_test = np.array(x_test)
    crop_coef = list(final_dic_province[province_crop].values())
    crop_coef = crop_coef[:-1]
    crop_coef = np.array(crop_coef)
    crop_int = final_dic_province[province_crop]['intercept']
    crop_yield = crop_int + np.sum(crop_coef*x_test)
    y_predict.append(crop_yield)

mape2 = metrics.mean_absolute_percentage_error(y_test,y_predict)*100
rmse2 = metrics.mean_squared_error(y_test,y_predict, squared=False)
print('LR by province')
print('MAPE2:' ,mape2)
print('RMSE2:' ,rmse2)

LR by province
MAPE2: 7.70303113687685
RMSE2: 43.53094873180956

# Forecast

In [ ]:
final_data =  pd.read_csv('/content/df_all.csv',thousands=',')
final_dic_province = {}
for i in final_data_train['PROVINCE_CROP'].unique():
    group = final_data_train[(final_data_train['PROVINCE_CROP'] == i )]
    x_train = group.drop(columns=['PROVINCE','YEAR','YIELD-KG/R','CROP', 'PROVINCE_CROP','CLUSTER'])
    y_train = group[['YIELD-KG/R']]
    coef_dic = {}
    model = LinearRegression()
    model.fit(x_train,y_train)
    coef = model.coef_
    intercept = model.intercept_
    coef_dic['01_rain'] = coef[0,0]
    coef_dic['02_rain'] = coef[0,1]
    coef_dic['03_rain'] = coef[0,2]
    coef_dic['04_rain'] = coef[0,3]
    coef_dic['05_rain'] = coef[0,4]
    coef_dic['06_rain'] = coef[0,5]
    coef_dic['07_rain'] = coef[0,6]
    coef_dic['08_rain'] = coef[0,7]
    coef_dic['09_rain'] = coef[0,8]
    coef_dic['10_rain'] = coef[0,9]
    coef_dic['11_rain'] = coef[0,10]
    coef_dic['12_rain'] = coef[0,11]
    coef_dic['01_temp'] = coef[0,12]
    coef_dic['02_temp'] = coef[0,13]
    coef_dic['03_temp'] = coef[0,14]
    coef_dic['04_temp'] = coef[0,15]
    coef_dic['05_temp'] = coef[0,16]
    coef_dic['06_temp'] = coef[0,17]
    coef_dic['07_temp'] = coef[0,18]
    coef_dic['08_temp'] = coef[0,19]
    coef_dic['09_temp'] = coef[0,20]
    coef_dic['10_temp'] = coef[0,21]
    coef_dic['11_temp'] = coef[0,22]
    coef_dic['12_temp'] = coef[0,23]
    coef_dic['intercept'] = intercept[0]
    final_dic_province[i] = coef_dic
print(final_dic_province)

In [51]:
province = input('Please enter PROVINCE:   ')
year = input('Please enter Predict YEAR:   ')
print(' ')

price = {'Rice':10, 'Pineapple':7.5, 'Cassava':1.94, 'Maize':7.35} # thb/kg
cost = {'Rice':3922.32, 'Pineapple':12748.04, 'Cassava':6251.25, 'Maize':4338.38} #thb/rai


rt = df_rt.loc[(df_rt['PROVINCE'] == province) & (df_rt['YEAR'] == year)]
rt = rt.drop(columns = ['PROVINCE' , 'YEAR'])
rt = np.array(rt)

crop1 = final_data[final_data['PROVINCE'] == province]
for i in crop1['PROVINCE_CROP'].unique():
     crop_coef = list(final_dic_province[i].values())
     crop_coef = crop_coef[:-1]
     crop_coef = np.array(crop_coef)
     crop_int = final_dic_province[i]['intercept']
     crop_yield = crop_int + np.sum(crop_coef*rt)
     crop2 = crop1[crop1['PROVINCE_CROP'] == i]
     crop2 = crop2['CROP'].values[0]
     gp = crop_yield*price[crop2] - cost[crop2]
     print(f'Forecast {crop2} Yeild = {crop_yield:,.2f} Kg/Rai,  Gross profit = {gp:,.2f} THB/Rai')

Please enter PROVINCE:   ChonBuri
Please enter Predict YEAR:   2021

Forecast Rice Yeild = 385.95 Kg/Rai,  Gross profit = -62.85 THB/Rai
Forecast Pineapple Yeild = 6,300.50 Kg/Rai,  Gross profit = 34,505.67 THB/Rai
Forecast Cassava Yeild = 3,916.88 Kg/Rai,  Gross profit = 1,347.50 THB/Rai
Forecast Maize Yeild = 625.00 Kg/Rai,  Gross profit = 255.37 THB/Rai